.card1{
    box-sizing: border-box;
    border:1px solid black;
    background-size: cover;
    background-color: orangered;
    width: 200px;
    height:100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    

}
.num{
    color:white;
    font-size: x-large;
}
.info{
    box-sizing: border-box;
    width: 200px;
    height:100;
    border:1px solid black;
    background-size: cover;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color:black;
    

}
button{
    display: flex;
    justify-content: center;
    align-items: center;
}